# Creating Databases and Tables

### Startup

`mysql-ctl cli` - Start the CLI

### Create Database

You can have individual 'walled off' databases within a 'Database Server.' Generally, people capitalize what comes from SQL vs what does not

`show databases;` - list the current datacases that exist within the MySQL server
`CREATE DATABASE <name>;` - the general command for creating a database

### Delete Database

`DROP DATABASE <name>;` - delete database

### Using Databases

`USE <database name>;` - change database for usage
`SELECT database():` - echo current database

### Basic Datatypes

Columns cannot have mixed datatypes. Example of types:    

Numeric:   
- **INT** - Whole number, max value of 4294967295
- SMALLINT
- FLOAT
- DOUBLE ....

String Types:
- **VARCHAR** - a Variable-Length String between 1 and 255 characters
- TEXT
- BLOB
- ENUM ....

Date Types:
- DATE
- DATETIME
- TIMESTAMP
- YEAR ....

### Tables

A database is just a bunch of tables (in a relational database). Tables are collection of related data held in a structured format within a database. Consists of columns (header) and rows (data). 

### Creating Tables

`CREATE TABLE <tablename>
    (
        column_name data_type,
        column_name data_type
    );`


### Table Commands
`SHOW TABLES;` - show tables in current database  
`SHOW COLUMNS FROM <tablename>;` - show columns from defined table   
`DESC <tablename>;` - similar to the above, describe table  

### Delete Tables
`DROP TABLE <tablename>;` - delete table

# Inserting Data


`INSERT INTO table_name(column_name) 
VALUES (data);`

`INSERT INTO dogs(name, age)
VALUES ('Kiba', 10);`